<ion-header>
  <ion-toolbar color="primary">
    <ion-title>DISFRACES</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/recipe-add">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="cargarDisfraces($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    @for (disfraz of disfraces; track disfraz.id) {
      <ion-item [routerLink]="['/recipe-detail', disfraz.id]" button="true">
        <ion-thumbnail slot="start">
          <img [src]="disfraz.image" [alt]="disfraz.name" />
        </ion-thumbnail>

        <ion-label>
          <h2>{{ disfraz.name }}</h2>
          <p>Dificultad: <b>{{ disfraz.difficulty }}</b></p>
          <p>Tiempo total: {{ disfraz.prepTimeMinutes + disfraz.cookTimeMinutes }} min</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
