<div class="page-container">
<h2>Listado de usuarios</h2>

<button routerLink="/usuarios/nuevo">Nuevo usuario</button>

<table>
  <thead>
    <tr>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of usuarios">
      <td>{{ u.dni }}</td>
      <td>{{ u.nombre }}</td>
      <td>{{ u.apellidos }}</td>
      <td>
        <a [routerLink]="['/usuarios/editar', u.dni]">Editar</a>

      </td>
    </tr>
    <tr *ngIf="usuarios.length === 0">
      <td colspan="4">No hay usuarios todavía.</td>
    </tr>
  </tbody>
</table>
</div>