<ion-header>
  <ion-toolbar color="primary">
    <ion-title>MIS RECETAS</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/recipe-add">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="cargarRecetas($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    @for (recipe of recipes; track recipe.id) {
      <ion-item [routerLink]="['/recipe-detail', recipe.id]" button="true">
        <ion-thumbnail slot="start">
          <img [src]="recipe.image" [alt]="recipe.name" />
        </ion-thumbnail>
        
        <ion-label>
          <h2>{{ recipe.name }}</h2>
          <p>Dificultad: <b>{{ recipe.difficulty }}</b></p>
          <p>Tiempo total: {{ recipe.prepTimeMinutes + recipe.cookTimeMinutes }} min</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>