<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="recipeForm" (ngSubmit)="actualizarReceta()">
    
    <ion-item>
      <ion-label position="stacked">Nombre de la receta</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ingredientes (separados por comas)</ion-label>
      <ion-input formControlName="ingredients" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tiempo de preparación (min)</ion-label>
      <ion-input formControlName="prepTimeMinutes" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Instrucciones</ion-label>
      <ion-textarea formControlName="instructions" rows="4"></ion-textarea>
    </ion-item>

    <div class="ion-padding-top">
      <ion-button expand="block" type="submit" [disabled]="recipeForm.invalid" color="success">
        Guardar Cambios
      </ion-button>
    </div>

  </form>
</ion-content>