<!-- <router-outlet></router-outlet>
<a routerLink="/incidencias" routerLinkActive="active">Incidencias</a>
<a routerLink="/usuarios" routerLinkActive="active">Usuarios</a> -->

<router-outlet></router-outlet>

<nav class="navbar fixed-bottom bg-dark">
  <div class="container-fluid justify-content-center gap-5">
    <a routerLink="/incidencias" routerLinkActive="active" class="nav-link text-white text-center">
      <div>🗂️</div>
      <small>Incidencias</small>
    </a>
    <a routerLink="/usuarios" routerLinkActive="active" class="nav-link text-white text-center">
      <div>👥</div>
      <small>Usuarios</small>
    </a>
  </div>
</nav>