<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>GameHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content" side="start">
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/dashboard/juegos">
          <ion-icon name="game-controller" slot="start"></ion-icon>
          <ion-label>Juegos</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/dashboard/tienda">
          <ion-icon name="store" slot="start"></ion-icon>
          <ion-label>Tienda</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/dashboard/perfil">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item (click)="abrirAcerca()">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Acerca de GameHub</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu-toggle auto-hide="false">
  <ion-content id="main-content">
    <ion-router-outlet></ion-router-outlet>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="juegos">
        <ion-icon name="game-controller"></ion-icon>
        <ion-label>Juegos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tienda">
        <ion-icon name="store"></ion-icon>
        <ion-label>Tienda</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="perfil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-content>
</ion-menu-toggle>
