<ion-header>
  <ion-toolbar>
    <ion-title>Mis Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full">
    @for (logro of misLogros; track logro.titulo) {
      <ion-item>
        <ion-icon slot="start" name="trophy-outline" color="primary"></ion-icon>
        <ion-label>
          {{ logro.titulo }}
        </ion-label>
        <ion-badge [color]="logro.color" slot="end">
          {{ logro.valor }}
        </ion-badge>
      </ion-item>
    }
  </ion-list>
</ion-content>