<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>GameHub</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item button routerLink="/dashboard/juegos">
          <ion-icon slot="start" name="game-controller-outline"></ion-icon>
          <ion-label>Juegos</ion-label>
        </ion-item>

        <ion-item button routerLink="/dashboard/tienda">
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          <ion-label>Tienda</ion-label>
        </ion-item>

        <ion-item button routerLink="/dashboard/perfil">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>

        <ion-item button (click)="abrirModalAcercaDe()">
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          <ion-label>Acerca de GameHub</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>