ion-list {
  background: transparent;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  margin: 8px 0;
  
  ion-label {
    h2 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
      margin: 4px 0;
    }
  }
}