<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rutas de Asturias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rutas de Asturias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let ruta of rutas">
      <ion-label>
        <h2>{{ ruta.nombre }}</h2>
        <p>{{ ruta.descripcion }}</p>
        <p>
          <strong>Zona:</strong> {{ ruta.zona }} | 
          <strong>Dificultad:</strong> {{ ruta.dificultad }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>